:root {
    --clrTheme100: rgb(235, 191, 198);
    --clrTheme900: rgb(156, 55, 72);

    --clrMain100: white;
    --clrMain900: black;

    --ffTheme: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    --ffAccent: Arial, Helvetica, sans-serif; 
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--ffTheme);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.6;
    background: var(--clrMain900);
    color: var(--clrMain100);
}

body,
h1,
h2,
h3,
p { 
    margin: 0; 
} 

h1,
h2,
h3 {
    font-family: var(--ffAccent);
    font-weight: 900;
    line-height: 1;
}

h2, 
h3,
p {
    margin-bottom: 1em;
}

.card {
    border-radius: .5rem;
    box-shadow: 2px 2px 2px var(--clrMain100);
}

#home,
#about,
#services,
#testimonials,
#gallery,
#contact {
    min-height: 100dvh;
    padding-top: 5rem;
}


.img {
    display: block;
    max-width: 50%;
    object-fit: cover;
    place-content: center;
    place-items: center;
}

.bg900 {
    background-color: var(--clrTheme900);
}

.bg100 {
    background-color: var(--clrTheme100);
}

.split {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    overflow: hidden;
    padding: 2rem;
    margin: 1em 2em;
    gap: 3rem;
}

header { 
    background: linear-gradient(to left, 
        var(--clrTheme100) 30%, var(--clrTheme900)); 
    color: var(--clrMain100); 
    text-align: center; 
    text-decoration: none;
} 

nav {
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 11dvh;
    background: linear-gradient(to left, 
    var(--clrTheme100) 30%, var(--clrTheme900)); 
    z-index: 100000;
}

nav ul {
    display: none;
}

.logo {
    font-family: "Cedarville Cursive";
    font-size: 2rem;
    padding-top: 1rem;
}

@media screen and (min-width: 850px) {
    nav {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 11dvh;
        padding: 1rem 2rem;
        background: linear-gradient(to left, 
        var(--clrTheme100) 30%, var(--clrTheme900)); 
        z-index: 100000;
    }
    nav * {
        text-decoration: none;
        color: var(--clrMain100);
        font-size: .75rem;
    }
    
    nav h2 {
        padding-top: 1rem;
    }
    
    nav ul { 
        list-style: none; 
        padding: 0; 
        margin: 0; 
        display: flex; 
        justify-content: space-around; 
        flex-wrap: wrap; 
        text-decoration: none;
        font-size: 1rem;
        
    } 
    
    nav ul li { 
        margin: 0 10px; 
        padding-top: .75rem;
        text-decoration: none;
        color: var(--clrMain100);
    } 
    
    nav .faFonts {
        padding-bottom: 1rem;
    }

}

section { 
    padding: 2rem; 
    text-align: center; 
} 

#home {
    background: linear-gradient(to left, 
    var(--clrTheme100) 30%, var(--clrTheme900)); 
    padding-top: 5rem;
    color: var(--clrMain100);
}

.homeText {
    text-align: left;
    place-items: center;
}

.homeText p {
    font-family: "Cedarville Cursive";
    font-size: 3rem;
    margin-bottom: -.5rem;
}

.homeText h1 {
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 1.4;
}

#services {
    background: linear-gradient(to left, var(--clrMain900), var(--clrTheme100), var(--clrMain900));
}

.serviceGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    padding: .5rem;
}

.serviceCard {
    border: 2px solid var(--clrTheme900);
    border-radius: .5rem;
    box-shadow: 2px 2px 2px var(--clrMain100);
    font-size: .75rem;
    padding: .5rem;
}

.serviceCard h2 {
    font-weight: 200;
}

#testimonials {
    background: var(--clrMain900);
}

.testimonialGrid {
    width: 100dvw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 1rem;
}

.testimonialCard {
    max-width: 500px;
    object-fit: cover;
    gap: 1rem;
    overflow: hidden;
    place-content: center;
    margin: 1rem;
}

.testimonialCard img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: .5rem;
}

#gallery {
    background: linear-gradient(to bottom, 
    var(--clrTheme100), var(--clrTheme900), var(--clrTheme100)); 

}

#gallery .galleryGrid { 
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
} 

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width:600px) {
    .cardTall {
        grid-row: span 2 / auto;
    }

    .cardWide {
        grid-column: span 2 / auto;
    }
}

#contact {
    background: linear-gradient(to left, 
    var(--clrTheme100) 30%, var(--clrTheme900)); 
    font-size: 1rem;
}

#contact p, #contact a {
    margin: .5rem 3rem;
}

#contact .form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.contactInfo > * {
    text-decoration: none;
    color: var(--clrMain100);
    font-size: .75rem;
    font-weight: 100;
    padding-top: .5rem;
}

form {
    width: 100%;
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.field input, .field textarea {
    width: 40dvw;
}

.fa-brands,
.fa-solid,
.fa-sharp {
    padding: 1rem;
}

#contact .faFonts {
    margin-top: 1rem;
}

footer { 
    background: linear-gradient(to left, 
    var(--clrTheme100) 30%, var(--clrTheme900));  
    color: white; 
    padding: 1rem 0; 
    text-align: center; 
    min-height: 10dvh;
} 

/* @media (max-width: 768px) { 
    nav ul { 
        flex-direction: column; 
    } 
    #gallery .galleryGrid div { 
        width: 100%; 
    } 
} */